<!DOCTYPE html>
<html ng-app='ShoppingListCheckOffApp'>
 <head>
   <meta charset="utf-8">
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
   <title> Shopping List Check Off </title>
  </head>
  <body>
    <h1> Shopping List Check Off </h1>
    <div ng-controller='ToBuyController as toBuy'>
      <h3> To Buy List </h3>
      <ol>
        <li ng-repeat='item in toBuy.items'>
          Buy {{item.qty}} {{item.name}}
          <button ng-click="toBuy.buyItem($index);">Buy Item</button>
        </li>
      </ol>
    <div ng-if="toBuy.items.length == 0"> Everything Bought </div>
   </div>

   <div ng-controller='AlreadyBoughtController as alreadyBought'>
     <h3> Already Bought List </h3>
     <ol>
       <li ng-repeat='items in alreadyBought.items'>
         Bought {{items.qty}} {{items.name}}
        </li>
      </ol>
     <div ng-if="alreadyBought.items.length==0">Nothing bought yet.</div>
    </div>
  </body>
 </html>
